/*******************************
 * Variables
 */
:root {
	--gray-50: #F9FAFB;
	--gray-100: #F3F4F6;
	--gray-200: #E5E7EB;
	--gray-300: #D1D5DB;
	--gray-400: #9CA3AF;
	--gray-500: #6B7280;
	--gray-600: #4B5563;
	--gray-700: #374151;
	--gray-800: #1F2937;
	--gray-900: #111827;
	
	--red-50: #FEF2F2;
	--red-100: #FEE2E2;
	--red-200: #FECACA;
	--red-300: #FCA5A5;
	--red-400: #F87171;
	--red-500: #EF4444;
	--red-600: #DC2626;
	--red-700: #B91C1C;
	--red-800: #991B1B;
	--red-900: #7F1D1D;

	--main-text: #333;
	--main-bg: #fff;
	--sub-bg: #fefefe;
	--sub-text: #000;
	--input-bg: #f1f1f1;
	--input-text: #333;
	--color-primary: #6666ff;
}

/*******************************
 * ScrollBars
 */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
	background-color: var(--gray-700);
}


* {
	box-sizing: border-box;
	transition: all .3s;
}

html {
	background: transparent;
}

html, body {
	width: 800px;
	height: 600px;
	margin: 0;
	padding: 0;
	font-size: 10px;
	overflow: hidden;
}

body {
	background: transparent;
	color: var(--gray-50);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1.6rem;
}

.container {
	width: 100%;
	height: 100%;
	padding: 1.6rem;
	border-radius: 20px;
	background: var(--gray-900);
}

.search {
	height: 70px;
	padding-bottom: 1.6rem;
}

.search input {
	width: 100%;
	border: solid 1px var(--gray-800);
	border-radius: 1rem;
	padding: 1.6rem;
	background: var(--gray-800);
	font-size: 1.6rem;
	color: #fff;
	appearance: unset;
	outline: none;
}

.search input:focus {
	width: 100%;
	border: solid 1px var(--gray-800);
	border-radius: 1rem;
	padding: 1.6rem;
	background: var(--gray-700);
	font-size: 1.6rem;
	color: #fff;
}

.cards {
	position: relative;
	/* max-height: 400px; */
	max-height: calc(100% - 70px);
	overflow-y: scroll;
	overflow-x: hidden;
}

.card {
	position: relative;
	margin: 0 1rem 1.6rem;
	border: solid 1px var(--gray-800);
	border-radius: 1rem;
	background: var(--gray-800);
	color: var(--gray-50);
}

.card.selected {
	border-color: var(--gray-700);
	background: var(--gray-700);
}

.card:last-child {
	margin-bottom: 0;
}

.card .clip {
	flex: 1;
	margin: 0;
	padding: 1.6rem;
	padding-right: calc(40px + 1.6rem);
	word-break: break-all;
}

.card .clip .time {
	font-size: .9em;
}

.card .clip .image {
	
}

.card .clip img {
	max-width: 50%;
	max-height: 200px;
}

.card .clip span {
	display: inline-block;
	background: var(--gray-600);
}

.card .delete {
	position: absolute;
	top: 50%;
	right: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 100%;
	text-align: center;
	color: #fb4a4a;
	cursor: pointer;
	background: var(--gray-800);
	transform: translateY(-50%);
}

.card.selected .delete {
	/* border: solid 1px var(--gray-800); */
    border-radius: 0 1rem 1rem 0;
}

@media (prefers-color-scheme: light) {

}